{% extends "adminmaster.html" %}

{% load static %}
{% block content %}

 
    
      <!-- jumbotron -->
      <div class="container-fluid">
      <div class="jumbotron m-3 text-center bg-secondary">
        <h1 class="display-4 ">Cyber Square</h1>
        <p class="lead">Users to Creators of Technologies</p>
        <hr class="my-4">
      </div>
    </div>
    <!-- slider -->
    <div class="container-fluid" style="height: 520px;">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'images/html.png' %}" class="d-block w-100" style="height: 500px;"alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/html.png' %}" class="d-block w-100 "style="height: 500px;" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/html.png' %}" class="d-block w-100" style="height: 500px;"alt="...">
          </div>
        </div>
      </div>
    </div>
   
{% endblock %}